<div class="tab details" data-group="primary" data-tab="details">
	<h3 class="form-header">{{ localize "DND4EBETA.PowerDetails" }}</h3>

	{{!-- Power Source & Keywords --}}
	<div class="form-group">
		<label style="max-width: 208px;">{{ localize "DND4EBETA.PowerAutoGenerateLable" }}</label>
		<span class="checkbox"><input type="checkbox" name="data.autoGenChatPowerCard" data-dtype="Boolean" {{checked data.autoGenChatPowerCard}}/></span>
	</div>

	<div class="form-group short uses-per">
		<label>Power Type</label>
		<select name="data.powerType">
			{{#select data.powerType}}
			{{#each config.powerType as |name type|}}
			<option value="{{type}}">{{name}}</option>
			{{/each}}
			<option value="other">{{localize "DND4EBETA.Other"}}</option>
			{{/select}}
		</select>
	</div>
	<div class="form-group select">
		<label>Use Type</label>
		<select name="data.useType">
			{{#select data.useType}}
			{{#each config.powerUseType as |name type|}}
			<option value="{{type}}">{{name}}</option>
			{{/each}}
			{{/select}}
		</select>
	</div>
	<div class="form-group select">
		<label>Range</label>
		<input type="text" name="data.rangePower" value="{{data.rangePower}}"/>
	</div>
	<div class="form-group uses-per">
		<label>Damage</label>

		<input style="min-width: 105px;" type="text" name="data.damage.val" value="{{data.damage.val}}"/>

	</div>


	<div class="form-group">
		<label>Tags</label>
		<div class="form-fields">
			<input type="text" name="data.tags" value="{{data.tags}}"/>
		</div>
	</div>

</div>
