<!-- note here actor == the actor instance (thus must us .id), item == item.data instance (thus should use ._id) -->
<div class="dnd4eBeta chat-card item-card" data-actor-id="{{actor.id}}" data-item-id="{{item._id}}"
	 {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}} {{#if isSpell}}data-spell-level="{{item.data.level}}"{{/if}}>
	<header class="card-header flexrow">
		<img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
		<h3 class="item-name ability-usage--" style="padding-left: 3px;">{{item.name}}</h3>
	</header>


	<div class="item-summary">
		<div class="item-details">
			{{{cardData}}}
		</div>
	</div>

	<div class="card-content" style="display: block;">
		{{{data.description.value}}}
		{{#if data.materials.value}}
		<p><strong>{{ localize "DND4EBETA.RequiredMaterials" }}.</strong> {{data.materials.value}}</p>
		{{/if}}
	</div>
	<footer class="card-footer">
		{{#if isPower}}
		{{else}}
			{{#each data.properties}}
			<span>{{this}}</span>
			{{/each}}
		{{/if}}
	</footer>
</div>
