<form class="{{cssClass}}" autocomplete="off">				
	<section>
		{{!-- Sheet Header --}}
		<header class="sheet-header">
			<ul class="summary">
				<li class="summary-name">
					<input name="name" type="text" value="{{actor.name}}" title="{{localize 'DND4EBETA.Name'}}" placeholder="{{localize 'DND4EBETA.Name'}}" onClick="this.select();"/>
				</li>
				<li class="summary-race placeholder" data-placeholder="HP">
					<input type="text" name="data.details.race" value="{{data.details.race}}" title="{{localize 'DND4EBETA.Race'}}" placeholder="10" onClick="this.select();"/>
				</li>
				<li class="summary-class placeholder" data-placeholder="Action Points">
					<input type="text" name="data.details.class" value="{{data.details.class}}" title="{{localize 'DND4EBETA.ClassName'}}"placeholder="1" onClick="this.select();"/>
				</li>
			</ul>

		</header>

		
		<section class="flexrow">
			<img class="profile-img" style="max-width: 100px; margin-left: 15px;" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>

			{{!-- Attributes --}}

		</section>
	</section>

	<section class="container container--bottom flexrow">


		<section class="section section--main flexcol" style="height: 100%;">

			<section class="section section--tabs flexshrink">

				{{!-- Sheet Tab Navigation --}}
				<nav class="sheet-tabs tabs" data-group="primary">

					<a class="item " data-tab="powers">{{localize 'DND4EBETA.Powers'}}</a>

				</nav>
			</section>

			{{!-- Sheet Body --}}
			<section class="sheet-body section--tabs-content">


				{{!-- Powers Tab --}}
				<div class="tab powers " data-group="primary" data-tab="powers">
					{{> "systems/dnd4e/templates/actors/parts/actor-powers.html" sections=powers}}
				</div>


			</section>
		</section>
	</section>

</form>
